@using BookStore.WebApp.Enums
@model BookViewModel
@{
    ViewBag.Title = "Add New Book";
    var LanguageList = new SelectList(ViewBag.Languages, "Id", "Name");
    var CategoryList = new SelectList(ViewBag.Categories, "Id", "Name");
}

<div class="container">
    <h3 class="display-4">Add Book</h3>
    @if (ViewBag.status==AddBookStatus.Success)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congrats!</strong> You have added a new book successfully.
            Click <a asp-controller="Book" asp-action="GetBookDetails" asp-route-id="@ViewBag.bookId">Here</a>
            to view the details.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if(ViewBag.status==AddBookStatus.Fail)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> Book not added, Use a new Title for the Book.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <form method="post" asp-controller="Book" asp-action="AddBook">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <div>
                <input class="form-control" asp-for="Title" placeholder="Enter the Title of the Book">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Author"></label>
            <div>
                <input class="form-control" asp-for="Author" placeholder="Enter the Author of the Book">
                <span class="text-danger" asp-validation-for="Author"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description" placeholder="Brief Description of The Book"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="CategoryIds"></label>
            <div>
                <select class="form-control" asp-for="CategoryIds" asp-items="CategoryList">
                </select>
                <span class="text-danger" asp-validation-for="CategoryIds"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="LanguageId"></label>
            <div>
                <select class="form-control" asp-for="LanguageId" asp-items="LanguageList">
                    <option value="">Please Select</option>
                </select>
                <span class="text-danger" asp-validation-for="LanguageId"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <div>
                <input class="form-control" asp-for="TotalPages" placeholder="Enter the Number of pages">
                <span class="text-danger" asp-validation-for="TotalPages"></span>
            </div>
        </div>

        <div>
            <input type="submit" value="Add Book" class="btn btn-primary">
        </div>
    </form>
</div>