@{
    ViewBag.Title = "Books";
}

<div class="container">
    <h3 class="display-4">All Books</h3>
    <div class="row" style="margin-top: 65px;">
        <partial name="_BooksCards"/>
    </div>
</div>