<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row justify-content-center">
            &copy; @DateTime.Now.Year Copyrights: Book Store
        </div>
    </div>
</footer>