<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row justify-content-center">
            Book Store &copy; @DateTime.Now.Year
        </div>
    </div>
</footer>